@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;600;700&display=swap');
@import "tailwindcss";
/* ===========================
   TRUST BAR ANIMATION
=========================== */

@keyframes trustFade {

  0%{
    opacity:0;
    transform:translateY(12px);
  }

  10%{
    opacity:1;
    transform:translateY(0);
  }

  85%{
    opacity:1;
    transform:translateY(0);
  }

  100%{
    opacity:0;
    transform:translateY(-12px);
  }

}

.animate-trustFade{
  animation:trustFade 8s ease-in-out;
}